html, body {
	font-family: Consolas, monaco, monospace;
	color: #F8F8F2;
	
}
.page {
	background-image: url("Underworld-Blood-Wars-Kate-Beckinsale-as-Selene.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height: 100vh;
}
.list {
	font-size: 15px;
}
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}


.container {
	/*margin: 0px;*/
}
.well {
	width: 750px;
	background-color: transparent;

}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}